.post-copyright {
    padding: 10px;
    background-color: $copyright-backgroud;
    border: 1px solid $light-gray;
    border-left: solid;
    margin-top: 3em
}

.post-copyright .copyright-item {
    margin: 5px 0
}

.post-copyright .copyright-item a {
    color: $theme-color;
    word-wrap: break-word
}

.post-copyright .copyright-item a:hover {
    border-bottom: 1px solid $content-link-border;
}

.post-copyright .copyright-item .item-title {
    display: table-cell;
    min-width: 5rem;
    text-align: right;
    font-weight: 700
}

.post-copyright .copyright-item .item-title:after {
    content: " :"
}

.post-copyright .copyright-item .item-content {
    display: table-cell;
    padding-left: .5rem
}