// ==============================
// Back to top
// =============================
.back2top {
    z-index: 99;
    visibility: hidden;
    position: fixed;
    bottom: $back2top-bottom;
    right: $back2top-right;
    color: $back2top-color;
    background: $back2top-bg-color;
    padding: $back2top-padding;
    width: $back2top-width;
    height: $back2top-height;
    border-radius: $back2top-border-radius;
    transition: visibility 0.5s, opacity 0.8s linear;
}