.post-list {
    display: flex;
    flex-direction: column;
    padding: $post-list-padding;
    margin: $post-list-margin;
    width: 50%;
}

.post-entry-date-catalog {
    font-size: $post-entry-data-catalog-font-size;
    padding: $post-entry-data-catalog-padding;
    margin: $post-entry-data-catalog-margin;
}

.post-entry {
    display: flex;
    transition: transform 0.1s;
    margin: $post-entry-margin;
    font-size: $post-entry-font-size;
    a {
        color: $global-font-color;
    }

    .post-entry-date {
        flex-basis: 25%;
        max-width: 25%;
    }

    .post-entry-title {
        flex-basis: 75%;
        max-width: 75%;
    }
}

@media screen and (max-width: $sm-breakpoint) {
    .post-list {
        padding: $post-list-padding-sm;
        margin: $post-list-margin-sm;
        width: 100%;
    }
}