.post-list {
    display: flex;
    flex-direction: column;
    padding: $padding-32;
    margin: $padding-32;
    width: 50rem;
}

.site-date-catalog {
    font-size: $font-size-48;
    padding: $padding-16 0;
    margin: $padding-16 0;
}

.post-entry {
    display: flex;
    justify-content: space-between;
    margin: $padding-16 0;
    transition: transform 0.1s;
    font-size: $font-size-20;

    a {
        color: $global-font-color;
    }
}