// ==============================
// Post footer
// =============================

.footer {
    height: $site-footer-height;
    padding: $site-footer-padding;
    margin: $site-footer-margin;
    z-index: 99;

    @import "_footer/copyright";
}

.footer-inner {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}