// ==============================
// Post footer
// =============================

.footer {
    width: 100%;
    height: $site-footer-height;
    margin-top: $site-footer-margin-top;
    z-index: 9999;

    @import "_footer/copyright";
}

.footer-inner {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}