// ==============================
// Header
// ==============================

.header {
  @import '_header/logo';
  @import '_header/menu';
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $dark-cyan;

  font-family: $site-header-font-family;
  font-size: $site-header-font-size;
  padding: $site-header-padding;
  height: $site-header-height;

  a {
    color: $global-font-color;
  }

  &__link:hover {
    text-decoration: none;
  }

  svg.icon {
    width: $font-size-32;
    height: $font-size-32;
  }
}

@media screen and (max-width: $sm-breakpoint) {
  .header {
    font-size: $site-header-font-size-sm;
    justify-content: space-between;

    svg.icon {
      width: $font-size-40;
      height: $font-size-40;
      margin: 0 $padding-16;
    }
  }

  .brand {
    font-size: $font-size-24;
    line-height: $font-size-24;

    &__img {
      display: none;
    }
  }

  .menu-header {
    &__items {
      display: none !important;
    }

    &__control,
    &__home {
      display: flex !important;
    }
  }

  #menu-control:checked ~ main {
    .sidebar nav, .post {
      transform: translateX($post-sidebar-width);
    }

    .post {
      opacity: 0.25;
    }
  }

  #menu-control:checked ~ .header .sidebar__control {
    svg.icon.menu {
      display: none;
    }

    svg.icon.arrow-left {
      display: inline-block;
    }
  }

  #menu-header-control:checked ~ main {
    .post-toc, .post {
      transform: translateX(-$post-toc-width);
    }

    .post {
      opacity: 0.25;
    }
  }

  #menu-header-control:checked ~ .header {
    .header__link {
      display: none;
    }

    .menu-header {
      &__items {
        display: flex !important;
      }

      &__control {
        svg.icon.angle-left {
          display: none !important;
        }
      }
    }
  }
}