// ==============================
// Post
// ==============================

.container {
  max-width: $container-max-width;
  margin: 0 auto;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}