// ==============================
// Post
// ==============================

.post {
  flex-grow: 1;
  min-width: $body-min-width;
  padding: $post-padding;
  margin: $post-margin;

  @import '_post/header';
  @import '_post/content';
  @import '_post/copyright';
  @import '_post/footer';
  @import '_post/reward';
  @import '_post/tabs';
  @import '_post/details';
  @import '_post/table';
}
