// ==============================
// Post
// ==============================

.post {
  width: 100%;
  border: 0.1em solid red;

  & + .post {
    border-top: $post-border;
  }

  @import '_post/header';
  @import '_post/content';
  @import '_post/copyright';
  @import '_post/footer';
  @import '_post/reward';
  @import '_post/tabs';
  @import '_post/details';
}
