// ==============================
// Post
// ==============================

.post {
  padding: $post-padding;
  width: 100%;

  & + .post {
    border-top: $post-border;
  }

  @import '_post/header';
  @import '_post/toc';
  @import '_post/content';
  @import '_post/copyright';
  @import '_post/footer';
  @import '_post/reward';
  @import '_post/tabs';
  @import '_post/details';
}
