@import '_toc';

aside {
  display: block;
}

.sidebar nav, .post {
  transition: .2s ease-in-out;
  transition-property: transform,margin-left,opacity;
  will-change: transform,margin-left;
}

.sidebar {
  nav {
    width: $menu-width;
    padding: $padding-16 $padding-32 $padding-16 0;

    > ul > li > * {
      font-weight: normal;
    }

    > :first-child,
    > :first-child > :first-child {
      margin-top: 0;
    }

    section {
      margin-top: $padding-32;
    }
  }

  &__control {
    display: none;
    margin: 0;
    padding: 0;

    svg.icon {
      cursor: pointer;
    }

    svg.icon.menu {
      display: inline-block;
    }

    svg.icon.arrow-left {
      display: none;
    }
  }

  &__list {
    padding-left: 1em;
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;

    ul {
      padding-left: $padding-16;
    }

    li {
      margin: $padding-8 0;
    }

    svg.icon {
      margin-right: $padding-4;
    }
  }

  &__toggle {
    display: none;

    & ~ label {
      cursor: pointer;

      svg.icon.toggle {
        width: $font-size-16;
        height: $font-size-16;
      }
    }

    &:not(:checked) {
      & ~ ul,
      & ~ label svg.icon.angle-down {
        display: none;
      }
      & ~ label svg.icon.angle-left {
        display: block;
      }
    }

    &:checked {
      & ~ ul,
      & ~ label svg.icon.angle-down {
        display: block;
      }

      & ~ label svg.icon.angle-left {
        display: none;
      }
    }
  }

  &--main > ul > li > span,
  &--main > ul > li > span > a,
  &--main > ul > li > label,
  &--main > ul > li > label > a {
    font-weight: bold;
  }
}

// Responsive styles
.sidebar nav,
.markdown {
  transition: 0.2s ease-in-out;
  transition-property: transform, margin-left, opacity;
  will-change: transform, margin-left;
}