.sidebar {
  flex: 0 0 $post-sidebar-width;
  box-sizing: border-box;

  nav {
    // Responsive styles
    transition: 0.2s ease-in-out;
    transition-property: transform, margin-left, opacity;
    will-change: transform, margin-left;

    @include fixed;

    padding: $post-sidebar-nav-padding;
    margin: $post-sidebar-nav-margin;
    height: 100%;
    width: $post-sidebar-width;

    section {
      margin-top: $padding-16;
    }

    > ul > li > * {
      font-weight: normal;
    }

    > :first-child,
    > :first-child > :first-child {
      margin-top: 0;
    }
  }

  .sidebar-title {
    font-size: $post-toc-title-font-size;
    font-weight: 500;
    text-transform: uppercase;
  }

  .sidebar-content {
    ul {
      list-style: none;
      padding-left: $padding-16;
    }

    li {
      margin: $padding-8 0;
    }

    svg.icon {
      margin-right: $padding-4;
    }

    a:hover, a:focus {
      outline: 0;
      background-color: $dark-gray;
      color: $white;
    }
  }
}

@media screen and (max-width: $sm-breakpoint) {
  .sidebar {
    margin-left: -$post-sidebar-width;
  }

  #menu-control:checked ~ main {
    .sidebar nav, .post {
      transform: translateX($post-sidebar-width);
    }

    .post {
      opacity: 0.25;
    }
  }

  #menu-control:checked ~ .header .sidebar-control {
    svg.icon.menu {
      display: none;
    }

    svg.icon.arrow-left {
      display: inline-block;
    }
  }
}