.terms-tags {
    li {
        display: inline-block;
        margin: $term-tags-margin;
        font-weight: 500;
    }

    a {
        display: block;
        padding: $term-tags-padding;
        color: $term-color;
        background: $term-bg-color;
        border-radius: $term-border-radius;
        transition: transform 0.1s;
    }

    a:active {
        background: $theme-color;
        transform: scale(0.96);
    }
}