// ==============================
// Post ToC
// ==============================

.post-toc {
  flex: 0 0 $post-toc-width;
  font-family: $global-serif-font-family;
  word-wrap: break-word;
  box-sizing: border-box;

  div.post-toc-container {
    @include fixed;
    margin: $post-toc-margin;
    padding: $post-toc-padding;
    width: $post-toc-width;
    height: 100%;

    > :first-child,
    > :first-child > :first-child {
      margin-top: 0;
    }

    section {
      margin-top: $padding-16;
    }
  }

  .post-toc-title {
    font-size: $post-toc-title-font-size;
    font-weight: 500;
    text-transform: uppercase;
  }

  .post-toc-content {
    font-size: $post-toc-content-font-size;
    &.always-active ul {
      display: block;
    }

    ul {
      padding-left: $post-toc-content-ul-padding-left;
      list-style: $post-toc-list-style;

      ul {
        padding-left: $post-toc-content-ul-padding-left;
        display: none;
      }

      .has-active > ul {
        display: block;
      }
    }

    .toc-link.active {
      color: $theme-color;
    }
  }
}

@media screen and (max-width: $sm-breakpoint) {
  .post-toc {
    margin-right: -$post-toc-width !important;
  }

  #menu-header-control:checked ~ main {
    .post-toc, .post {
      transform: translateX(-$post-toc-width);
    }

    .post {
      opacity: 0.25;
    }
  }
}