// ==============================
// Post footer
// =============================

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 9999;
    margin-top: $footer-margin-top;

    @import "_footer/copyright";
}

.footer-inner {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}