.highlight {
  margin: $code-margin-top $code-margin-left;
  border-radius: $code-border-radius;
  font-size: $code-font-size;
  overflow-x: scroll; /* 代码行太长向右滚动 */

  pre {
    padding: $code-pre-padding-top $code-pre-padding-left;  /* 适当留出边距 */
  }
}