// ==============================
// Post content
// ==============================

.post-content {
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  word-wrap: break-word;
  word-break: break-word;

  @import 'code';
  @import 'notice';
  @import 'douban';
  @import 'tabs';

  hr {
    margin: 1rem 0;
    position: relative;
    border-top: 2px dashed $theme-color;
    border-bottom: none;
  }

  blockquote {
    margin: 2em 0;
    padding: 10px 20px;
    position: relative;
    color: $black;
    background-color: $content-blockquote-backgroud;
    border-left: $content-blockquote-border-left;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    border-inline-start: 3px solid $theme-color;

    p {
      margin: 0;
    }
  }

  @each $header, $size in $global-headings {
    #{$header} {
      font-size: $size;
      font-family: $global-serif-font-family;
      font-weight: 500;
      color: $global-font-color;

      &>a {
        color: $global-font-color;
      }

      &:hover {
        display: inline-flex;
        color: $theme-color;
        margin-inline-start: 8px;
        font-weight: 500;
        user-select: none;

        &>a {
          color: $theme-color;
        }
      }
    }
  }
}

.post-description {
  margin-top: 10px;
  margin-bottom: 5px;
}

.post-summary {
  margin-bottom: 1em;
}