// ==============================
// Post content
// ==============================

.post-content {
  word-wrap: break-word;

  @for $i from 1 through 6 {
    h#{$i} {
      font-weight: 400;
      font-family: $global-serif-font-family;

      .anchor {
        float: left;
        line-height: 1;
        margin-left: -20px;
        padding-right: 4px;

        &:hover {
          border-bottom: initial;
        }

        .icon-link {
          visibility: hidden;
          font-size: 16px;
          display: contents;

          &:before {
            vertical-align: middle;
          }
        }
      }

      &:hover {
        .icon-link {
          visibility: visible;
        }
      }
    }
  }

  @import 'code';
  @import 'notice';
  @import 'douban';
  @import 'tabs';
}

.post-description {
  margin-top: 10px;
  margin-bottom: 5px;
}

.post-summary {
  margin-bottom: 1em;
}

.read-more {
  .read-more-link {
    color: $theme-color;
    font-size: 1.1em;
    font-family: $global-serif-font-family;

    &:hover {
      border-bottom: $post-readMore-border-bottom;
    }
  }
}

.footnote-ref {
  > a {
    font-weight: bold;
    margin-left: 3px;

    &:before {
      content: "[";
    }

    &:after {
      content: "]";
    }
  }
}