// ==============================
// Post content
// ==============================

.post-content {
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  //width: $post-width;
  word-wrap: break-word;
  word-break: break-all;
  //display: none;

  @import 'code';
  @import 'notice';
  @import 'douban';
  @import 'tabs';
}

.post-description {
  margin-top: 10px;
  margin-bottom: 5px;
}

.post-summary {
  margin-bottom: 1em;
}

.read-more {
  .read-more-link {
    color: $theme-color;
    font-size: 1.1em;
    font-family: $global-serif-font-family;

    &:hover {
      border-bottom: $post-readMore-border-bottom;
    }
  }
}

.footnote-ref {
  > a {
    font-weight: bold;
    margin-left: 3px;

    &:before {
      content: "[";
    }

    &:after {
      content: "]";
    }
  }
}