// {{< details >}}
details {
  display: block;
  padding: 1rem;
  border-radius: .25rem;
}

details > summary {
  line-height: 1;
  padding: 1rem;
  margin: -1rem;
  cursor: pointer;
}

details[open] summary {
  margin-bottom: 0
}