.post-preview {
    max-width: 780px;
    height: 12.5rem;
    margin: 1rem auto;
    position: relative;
    display: flex;
    background: $theme-bg-color;
    border-radius: $padding-16;
    box-shadow: 0 $padding-2 $padding-4 rgba(0, 0, 0, .25), 0 0 $padding-2 rgba(0, 0, 0, .25);
}

.post-preview-image {
    margin-top: 0;
    width: 20%;
    height: 100%;
    float: right;
    border-radius: 0 $padding-16 $padding-16 0;
}

.post-preview-meta {
    width: 80%;
    padding: $padding-24;
}

.post-preview-middle {
    line-height: $padding-24;
}

.post-preview-title {
    font-size: $font-size-24;
    margin: 0 !important;
}

.post-preview-title a {
    text-decoration: none;
}

.post-preview-date {
    font-size: $font-size-14;
    color: $gray;
}

.post-preview-excerpt {
    font-size: $font-size-14;
    line-height: 1.825;
}

.post-preview-excerpt p {
    display: inline;
    margin: 0;
}

@media (max-width: $sm-breakpoint) {
    .post-preview {
        width: 95%;
        height: 8rem;
    }

    .post-preview-excerpt {
        display: none;
    }

    .post-preview-middle {
        line-height: $padding-24;
    }

    .post-preview-meta {
        padding: $padding-8;
    }
}

.rating {
    display: block;
    line-height: 15px;
}

.rating-star {
    display: inline-block;
    width: 75px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url("/image/douban_star.png");
    overflow: hidden;
}

.allstar10 {
    background-position: 0px 0px;
}

.allstar9 {
    background-position: 0px -15px;
}

.allstar8 {
    background-position: 0px -30px;
}

.allstar7 {
    background-position: 0px -45px;
}

.allstar6 {
    background-position: 0px -60px;
}

.allstar5 {
    background-position: 0px -75px;
}

.allstar4 {
    background-position: 0px -90px;
}

.allstar3 {
    background-position: 0px -105px;
}

.allstar2 {
    background-position: 0px -120px;
}

.allstar1 {
    background-position: 0px -135px;
}

.allstar0 {
    background-position: 0px -150px;
}

.rating-average {
    color: #777;
    display: inline-block;
    font-size: 13px;
    margin-left: 10px;
}