// ==============================
// Post footer
// ==============================

.post-footer {
  margin-top: $post-footer-margin-top;
  border-top: $post-footer-border-top;
  font-family: $post-serif-font-family;

  .post-tags {
    padding: $post-tags-padding;

    li {
      display: inline-block;
      margin-inline-end: $post-tags-margin;
      margin-bottom: $post-tags-margin;

      a>svg.icon {
        width: $font-size-32;
        height: $font-size-32;
      }
    }

    a {
      display: block;
      margin-right: $post-tags-margin;
      background: $post-tags-background;
      word-break: break-word;
    }
  }

  .post-nav {
    display: flex;
    margin: $post-nav-padding;
    line-height: $post-nav-line-height;
    word-break: break-word;
    word-wrap: break-word;

    @include clearfix;

    a {
      padding-inline-start: $post-nav-padding;
      padding-inline-end: $post-nav-padding;
    }

    .prev,
    .next {
      width: 50%;
      padding: $post-nav-padding;
      font-weight: $post-nav-font-weight;
      font-size: $post-nav-font-size;
      font-family: $post-serif-font-family;
      transition-property: transform;
      transition-timing-function: ease-out;
      transition-duration: 0.3s;
    }

    .prev {
      float: left;

      &:hover {
        color: $theme-color;
        transform: translateX(-$post-nav-hover-transform);
      }
    }

    .next {
      float: right;
      margin-inline-start: auto;
      text-align: right;

      &:hover {
        color: $theme-color;
        transform: translateX($post-nav-hover-transform);
      }
    }

    .nav-mobile {
      display: none;
    }
  }
}