// ==============================
// Post header
// ==============================

.post-header {
  margin-bottom: $post-title-margin-bottom;
  text-align: center;

  .post-title {
    margin: 0;
    font-size: $post-title-font-size;
    font-weight: $post-title-font-weight;
    font-family: $post-serif-font-family;
  }

  .post-link {
    @include underline-from-center;
  }
}
