.post-reward {
    font-size: $reward-font-size;
    text-align: center;

    .post-reward-qr-container {
        opacity: 0;

        .post-reward-qr {
            padding: 0;
            margin: $reward-qr-margin;
            width: $reward-qr-width;
            display: inline-block;
        }
    }

    #rewardButton {
        padding: $reward-button-padding;
        height: $reward-button-height;
        border-radius: $reward-button-border-radius;
        background-color: $post-tags-background;
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
    }

    #rewardButton:hover {
        outline-style: none;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        transition: box-shadow .4s ease,transform .4s ease;
    }
}