.post-content, .notice-content {
  >.table-wrapper {
    overflow-x: auto;

    > table {
      margin: $padding-8 0;
      border-spacing: 0;
      box-shadow: $padding-2 $padding-2 $padding-4 rgba(0, 0, 0, .125);

      > thead {
        > tr {
          background: $table-background-dark;
        }
      }

      th, td {
        padding: $padding-8 $padding-16;
        border: $padding-1 double $table-border-color;
      }

      tr:nth-of-type(even) {
        background: $table-background;
      }

      tr:hover {
        background-color: $table-background-dark;
      }
    }
  }
}