.post-content, .notice {
  &>table {
    overflow-x: auto;
    max-width: 100%;
    margin: 10px 0;
    margin-bottom: 32px;
    border-spacing: 0;
    box-shadow: 2px 2px 3px rgba(0,0,0,.125);

    thead {
      background: $deputy-color;
    }

    th, td {
      padding: 5px 15px;
      border: 1px double $content-table-border-color;
    }

    tr:hover {
      background-color: $deputy-color;
    }

    th {
      background: #3498db;
      color: white;
      font-weight: bold;
    }

    td, th {
      padding: 10px;
      border: 1px solid #ccc;
      text-align: left;
      font-size: 18px;
    }

    tr:nth-of-type(odd) {
      background: $deputy-color;
    }
  }
}