.post-content, .notice-content {
  >.table-wrapper {
    overflow-x: auto;

    > table {
      margin: 10px 0;
      border-spacing: 0;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, .125);

      > thead {
        > tr {
          background: $table-background-dark;
        }
      }

      th, td {
        padding: 5px 15px;
        border: 1px double $table-border-color;
      }

      tr:nth-of-type(even) {
        background: $table-background;
      }

      tr:hover {
        background-color: $table-background-dark;
      }
    }
  }
}