// {{< tabs >}}
.tabs {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;

	margin: $content-tabs-margin;
	border: $content-tabs-border;
	border-radius: $content-tabs-border-radius;

	label {
		display: inline-block;
		padding: $content-tabs-label-padding;
		cursor: pointer;
	}

	.tabs-content {
		order: 999; //Move content blocks to the end
		width: 100%;
		border-top: $content-tabs-border-top;
		padding: $content-tabs-padding;
		display: none;
	}

	input[type="radio"]:checked + label {
		border-bottom: $content-tabs-border-bottom;
	}
	input[type="radio"]:checked + label + .tabs-content {
		display: block;
	}
	input[type="radio"]:focus + label {
		@include outline;
	}
}

input.toggle {
	height: 0;
	width: 0;
	overflow: hidden;
	opacity: 0;
	position: absolute
}