@import '_common/normalize';

html {
  font-size: $global-font-size;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: $global-font-family;
  font-weight: normal;
  font-size: 18px;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: $global-lineheight;
  color: $global-font-color;
  background: $global-background;
  scroll-behavior: smooth;
}

::selection {
  background: $theme-color;
  color: #fff;
}

// ::-webkit-scrollbar {
//   width: 8px;
//   height: 6px;
// }

// ::-webkit-scrollbar-thumb {
//   background: lighten($theme-color, 10%);
//   border-radius: 5px;
// }

// ::-webkit-scrollbar-track {
//   background: rgba(211, 211, 211, 0.4);
//   border-radius: 5px;
// }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: auto;
  word-break: keep-all;
}


button,
input,
textarea {
  padding: 0;
  font: inherit;
  background: 0 0;
  border: 0;
}

input,
textarea {
  outline: 0;
}

button,
input[type=button],
input[type=submit] {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: $theme-color;
  word-break: break-all;

  &:hover {
    border-bottom: $content-link-border;
  }
}

a code {
  margin: auto 0;
  border-radius: 0;
  box-shadow: 0 -1px 0 $secondary inset;
}

del {
  background: linear-gradient(to right, $primary 100%, transparent 0) 0 50%/1px 1px repeat-x;
}

h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  display: inline-flex;
  color: $secondary;
  margin-inline-start: 8px;
  font-weight: 500;
  user-select: none;
}

h1>a>svg {
  display: inline;
}

@each $header, $size in $global-headings {
  #{$header} {
    font-size: $size;
    font-family: $global-serif-font-family;
  }
}

blockquote {
  margin: 2em 0;
  padding: 10px 20px;
  position: relative;
  color: rgba(#34495e, 0.8);
  background-color: $content-blockquote-backgroud;
  border-left: $content-blockquote-border-left;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  border-inline-start: 3px solid var(--primary);

  p {
    margin: 0;
  }
}

img {
  display: inline-block;
  max-width: 100%;
}

dl, ol, p, figure, ul {
  margin-bottom: $padding-16;
}

ol, ul {
  padding-inline-start: 20px;
}

li {
  margin-top: 5px;
}

li p {
  margin-bottom: 0;
}

dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

dt {
  width: 25%;
  font-weight: 700;
}

dd {
  width: 75%;
  margin-inline-start: 0;
  padding-inline-start: 10px;
}

dd ~ dd, dt ~ dt {
  margin-top: 10px;
}

ul li:has(input[type="checkbox"]) {
  list-style: none;
}

iframe {
  max-width: 100%;
}

img {
  border-radius: 4px;
  margin: 1rem 0;
}

img[src*="#center"] {
  margin: 1rem auto;
}

figure.align-center {
  text-align: center;
}

figure > figcaption {
  color: $primary;
  font-size: 16px;
  font-weight: bold;
  margin: 8px 0 16px;
}

figure > figcaption > p {
  color: var(--secondary);
  font-size: 14px;
  font-weight: normal;
}

figure {
  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  &.left {
    text-align: left;
  }

  figcaption h4 {
    color: #b5b5b5;
    font-size: 0.9rem;
  }
}

hr {
  margin: 1rem 0;
  position: relative;
  border-top: 2px dashed $theme-color;
  border-bottom: none;
}

kbd {
  display: inline-block;
  padding: 0.25em;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-bottom-color: #b5b5b5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #b5b5b5;
  font-size: 0.8em;
  line-height: 1.25;
  font-family: "SFMono-Regular","Liberation Mono","Roboto Mono",Menlo,Monaco,Consolas,"Courier New",Courier,monospace;
  color: #4a4a4a;
}

dl dt::after {
  content: ':';
}

hr {
  margin: 30px 0;
  height: 2px;
  background: var(--tertiary);
  border: 0;
}

aside,
figcaption,
figure,
footer,
header,
hgroup,
section,
table {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $global-lineheight;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

body,
figure,
ul {
  margin: 0;
}


svg.icon {
  display: inline-block;
  width: $font-size-96;
  height: $font-size-96;
  vertical-align: middle;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  position: relative;
}