@media screen and (max-width: $sm-breakpoint) {
  .sidebar {
    margin-left: -$menu-width;
    font-size: $font-size-base;

    &__control {
      display: inline-block !important;
    }
  }

  .post {
    margin-left: -8rem;
  }

  .toc {
    margin-right: -$toc-width !important;
  }

  .header {
    svg.icon {
      width: $font-size-24;
      height: $font-size-24;
    }
  }

  .brand {
    font-size: $font-size-24;
    line-height: $font-size-24;

    &__img {
      display: none;
    }
  }

  .menu-header {
    &__items {
      display: none !important;
    }

    &__control,
    &__home {
      display: flex !important;
    }
  }

  #menu-control:checked ~ main {
    .sidebar nav, .post {
      transform: translateX($menu-width);
    }

    .post {
      opacity: 0.25;
    }
  }

  #menu-control:checked ~ .header .sidebar__control {
    svg.icon.menu {
      display: none;
    }

    svg.icon.arrow-left {
      display: inline-block;
    }
  }

  #menu-header-control:checked ~ main {
    .toc, .post {
      transform: translateX(-$toc-width);
    }

    .post {
      opacity: 0.25;
    }
  }

  #menu-header-control:checked ~ .header {
    .brand {
      display: none;
    }

    .menu-header {
      &__items {
        display: flex !important;
      }

      &__control {
        svg.icon.angle-left {
          display: none !important;
        }
      }
    }
  }
}