// ============================================================================
// Variables
// ============================================================================

// =============================== Color ======================================
// scss-docs-start color-functions
// Tint a color: mix a color with white
@function tint-color($color, $weight) {
  @return mix(white, $color, $weight);
}

// Shade a color: mix a color with black
@function shade-color($color, $weight) {
  @return mix(black, $color, $weight);
}

$white:       #fff !default;
$black:       #000 !default;
$gray:        #adb5bd !default;
$light-gray:  #e9ecef !default;
$dark-gray:   #343a40 !default;

$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

$dark-blue:     shade-color($blue, 20%) !default;
$dark-indigo:   shade-color($indigo, 20%) !default;
$dark-purple:   shade-color($purple, 20%) !default;
$dark-pink:     shade-color($pink, 20%) !default;
$dark-red:      shade-color($red, 20%) !default;
$dark-orange:   shade-color($orange, 20%) !default;
$dark-yellow:   shade-color($yellow, 20%) !default;
$dark-green:    shade-color($green, 20%) !default;
$dark-teal:     shade-color($teal, 20%) !default;
$dark-cyan:     shade-color($cyan, 20%) !default;

$light-blue:    tint-color($blue, 80%) !default;
$light-indigo:  tint-color($indigo, 80%) !default;
$light-purple:  tint-color($purple, 80%) !default;
$light-pink:    tint-color($pink, 80%) !default;
$light-red:     tint-color($red, 80%) !default;
$light-orange:  tint-color($orange, 80%) !default;
$light-yellow:  tint-color($yellow, 80%) !default;
$light-green:   tint-color($green, 80%) !default;
$light-teal:    tint-color($teal, 80%) !default;
$light-cyan:    tint-color($cyan, 80%) !default;

$theme-color:             $cyan !default;
$theme-bg-color:          $white !default;
$deputy-color:            $light-cyan !default;
// ============================== End of Color ================================


// =============================== Font =======================================
$font-size-base:    16px !default;
$font-size-12:      0.75rem !default;
$font-size-14:      0.875rem !default;
$font-size-16:      1rem !default;
$font-size-20:      1.25rem !default;
$font-size-24:      1.5rem !default;
$font-size-32:      2rem !default;
$font-size-40:      2.5rem !default;
$font-size-48:      3rem !default;
$font-size-64:      4rem !default;
$font-size-96:      6rem !default;
$font-size-128:     8rem !default;

$global-font-color:         $black !default;
$global-font-size:          $font-size-16 !default;
$global-lineheight:         $font-size-24 !default;
$global-head-lineheight:    $font-size-64 !default;
$global-font-family:        Arial !default;
$global-serif-font-family:  Athelas, STHeiti, Microsoft Yahei, serif !default;

// Headings font size of the site.
$global-headings: (
    h1: $font-size-48,
    h2: $font-size-40,
    h3: $font-size-32,
    h4: $font-size-24,
    h5: $font-size-20,
    h6: $font-size-16
) !default;

// ===========================End of Font =====================================

// =============================== Layout =====================================
$padding-1:   1px !default;
$padding-2:   0.125rem !default;
$padding-4:   0.25rem !default;
$padding-8:   0.5rem !default;
$padding-16:  1rem !default;
$padding-24:  1.5rem !default;
$padding-32:  2rem !default;
$padding-48:  3rem !default;
$padding-64:  4rem !default;
$padding-96:  6rem !default;

$body-min-width:        20rem !default;
$post-sidebar-width:    18rem !default;
$post-toc-width:        18rem !default;
$sm-breakpoint:         $post-sidebar-width + $body-min-width * 1.2 +  $post-toc-width !default;
// =========================== End of Layout ==================================

// =============================== Terms =====================================
$term-tags-margin:          $padding-4 $padding-8 !default;
$term-tags-padding:         $padding-4 $padding-8 !default;
$term-border-radius:        $padding-8 !default;
$term-color:                $global-font-color !default;
$term-bg-color:             $theme-bg-color !default;
$terms-count-font-size:     $font-size-14 !default;
// =========================== End of Terms ==================================


// =============================== Header =====================================
$site-header-height:        $padding-64 !default;
$site-header-padding:       $padding-16 0 !default;
$site-header-margin:        $padding-16 0 !default;
$site-header-font-size:     $font-size-64 !default;
$site-header-font-size-sm:  $font-size-40 !default;
$site-header-font-family:   'Chancery', cursive, LiSu, sans-serif !default;
// =============================== End of Header ==============================


// =============================== Pagination =================================
$pagination-margin:     $padding-16 0 !default;
$pagination-font-size:  $font-size-20 !default;
// =========================== End ofPagination ===============================

// =============================== Footer =====================================
$site-footer-height:    $padding-64 !default;
$site-footer-padding:   $padding-16 0 0 0!default;
$site-footer-margin:    $padding-64 0 0 0 !default;
// =============================== End of Footer ==============================

// =============================== Menu =======================================
$menu-link-font-size: $font-size-24 !default;
// =============================== End of Menu ================================

// =============================== Post =======================================
$post-serif-font-family:    $global-serif-font-family !default;
$post-padding:              $padding-8 $padding-32 !default;
$post-margin:               $padding-8 $padding-32 !default;
$post-padding-sm:           $padding-8 $padding-8 !default;
$post-margin-sm:            $padding-8 $padding-8 !default;
$post-title-font-size:      $font-size-64 !default;
$post-title-font-weight:    600 !default;
$post-title-margin-bottom:  $padding-32 !default;
$post-footer-margin-top:    $padding-32 !default;
$post-footer-border-top:    $padding-1 solid $light-gray !default;
$post-tags-padding:         $padding-16 !default;
$post-tags-margin:          $padding-8 !default;
$post-tags-icon-width:      $font-size-20 !important;
$post-tags-icon-height:     $font-size-20 !important;
$post-tags-background:      $theme-bg-color !default;
$post-nav-font-size:        $font-size-20 !default;
$post-nav-font-weight:      600 !default;
$post-nav-line-height:      $padding-32 !default;
$post-nav-hover-transform:  $padding-8 !default;
$post-nav-padding:          $padding-8 !default;
// ============================= End of Post ==================================

// ================================== Content =================================
$link-border:             $padding-1 solid $theme-color !default;

$content-padding:         $padding-8 $padding-16 !default;
$content-margin:          $padding-8 $padding-16 !default;
$content-padding-sm:      $padding-8 $padding-2 !default;
$content-margin-sm:       $padding-8 $padding-2 !default;

$content-blockquote-backgroud:    rgba($theme-color, 0.1) !default;
$content-blockquote-border-left:  $padding-4 solid rgba($theme-color, 0.3) !default;
$content-blockquote-margin:       $padding-16 0 !default;
$content-blockquote-padding:      $padding-16 $padding-32 !default;
$content-blockquote-box-shadow:   $padding-2 $padding-2 $padding-4 rgba(0,0,0,0.125);
$content-blockquote-border-inline-start: $padding-4 solid $theme-color;

$content-hr-margin:               $padding-16 0 !default;
$content-hr-border-top:           $padding-2 dashed $theme-color !default;

$content-tabs-border-radius:      $padding-4 !default;
$content-tabs-border:             $padding-2 solid $light-gray;
$content-tabs-margin:             $padding-16 0 !default;
$content-tabs-padding:            $padding-16 !default;
$content-tabs-label-padding:      $padding-8 $padding-16 !default;
$content-tabs-border-bottom:      $padding-2 solid $theme-color;
$content-tabs-border-top:         $padding-2 solid $light-gray;
// ============================= End of Content ===============================

// =============================== Sidebar ====================================
$post-sidebar-nav-margin-top:       $padding-16 !default;
$post-sidebar-nav-margin-left:      $padding-32 !default;
$post-sidebar-nav-padding-top:      $padding-16 !default;
$post-sidebar-nav-padding-left:     $padding-16 !default;
// ============================= End of Sidebar ===============================

// =============================== ToC ========================================
$post-toc-list-style:               square !default;
$post-toc-title-font-size:          $font-size-20 !default;
$post-toc-content-font-size:        $font-size-16 !default;
$post-toc-margin:                   $padding-96 0 0 $padding-8 !default;
$post-toc-padding:                  $padding-32 0 !default;
$post-toc-title-margin-top:         $padding-96 + $padding-32 !default;
$post-toc-content-margin-top:       $padding-96 + $padding-96 !default;
$post-toc-content-ul-padding-left:  $padding-16 !default;
// ============================= End of TOC ===================================

// =============================== Back2Top ===================================
$back2top-width:          $padding-48 !default;
$back2top-height:         $padding-48 !default;
$back2top-border-radius:  50% !default;
$back2top-padding:        $padding-8 !default;
$back2top-bottom:         $padding-64 !default;
$back2top-right:          $padding-64 !default;
$back2top-color:          $dark-gray !default;
$back2top-bg-color:       $light-gray !default;
// ============================ End of Back2Top ===============================

// =============================== Entries ====================================
$post-list-width:                         50rem !default;
$post-list-padding:                       $padding-32 !default;
$post-list-margin:                        $padding-32 !default;
$post-list-padding-sm:                    $padding-8 !default;
$post-list-margin-sm:                     $padding-8 !default;
$post-entry-margin:                       $padding-16 0 !default;
$post-entry-font-size:                    $font-size-20 !default;
$post-entry-data-catalog-font-size:       $font-size-48 !default;
$post-entry-data-catalog-padding:         $padding-16 0 !default;
$post-entry-data-catalog-margin:          $padding-16 0 !default;
// ============================ End of Entries ================================

// =============================== Code =======================================

/*
*   Style: monokai
*   https://xyproto.github.io/splash/docs/monokai.html
*/
$monakai-color:                 #f8f8f2;
$monakai-background-color:      #272822;
$monakai-error-color:           #bb0064;
$monakai-keyword-color:         #66d9ef;
$monakai-text-color:            $monakai-color;
$monakai-name-color:            #a6e22e;
$monakai-literal-color:         #e6db74;

$inline-code-color:             $light-pink !default;
$inline-code-padding:           $padding-4 $padding-8 !default;
$inline-code-margin:            $padding-4 $padding-4 !default;
$inline-code-border-radius:     $padding-4 !default;

$code-margin:           $padding-8 $padding-8 !default;
$code-pre-padding:      $padding-4 $padding-4 !default;
$code-pre-margin:       $padding-4 $padding-4 !default;
$code-border-radius:    $padding-8 !default;
$code-font-size:        $font-size-16 !default;
$code-font-family:      Consolas, Monaco, Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace !default;
// =============================== End of Code ================================

// =============================== Notice =====================================
$notice-title-text-color:     $white !default;
$notice-content-text-color:   $black !default;
$notice-info-title-bg:        $cyan !default;
$notice-info-content-bg:      $light-cyan !default;
$notice-tip-title-bg:         $teal !default;
$notice-tip-content-bg:       $light-teal !default;
$notice-warning-title-bg:     $yellow !default;
$notice-warning-content-bg:   $light-yellow !default;
$notice-important-title-bg:   $red !default;
$notice-important-content-bg: $light-red !default;

$notice-border-radius:        $padding-4 !default;
$notice-margin-top:           $padding-24 !default;
$notice-margin-left:          $padding-8 !default;
$notice-line-height:          $padding-24 !default;
$notice-padding-left:         $padding-8 !default;
$notice-padding-top:          $padding-8 !default;
$notice-title-padding-top:    $padding-4 !default;
$notice-content-padding-top:  $padding-8 !default;
$notice-font-weight:          700 !default;
$notice-icon-height:          $padding-16 !default;
$notice-icon-width:           $padding-16 !default;
$notice-icon-margin-right:    $padding-8 !default;
$notice-icon-baseline-top:    $padding-2 !default;
// ============================ End of Notice =================================


// =============================== Copyright ==================================
$copyright-background:        $light-cyan !default;
$copyright-border:            $light-cyan !default;
$copyright-margin:            $padding-16 0 !default;
// ============================ End of Copyright ==============================


// =============================== Reward ==================================
$reward-button-background:    $theme-bg-color !default;
$reward-button-height:        $padding-32 !default;
$reward-button-padding:       0 $padding-8 !default;
$reward-button-border-radius: $padding-4 !default;
$reward-qr-width:             $padding-96;
$reward-qr-margin:            $padding-8 $padding-32;
$reward-border:               $light-cyan !default;
$reward-font-size:            $font-size-16 !default;
// ============================ End of Copyright ==============================


// =============================== Table ======================================
$table-background:        $light-cyan !default;
$table-border-color:      darken($table-background, 40%) !default;
$table-background-dark:   darken($table-background, 20%) !default;
// ============================ End of Table ==================================