// ============================================================================
// Variables
// ============================================================================

// =============================== Color ======================================
// scss-docs-start color-functions
// Tint a color: mix a color with white
@function tint-color($color, $weight) {
  @return mix(white, $color, $weight);
}

// Shade a color: mix a color with black
@function shade-color($color, $weight) {
  @return mix(black, $color, $weight);
}

$white:       #fff !default;
$black:       #000 !default;
$gray:        #adb5bd !default;
$light-gray:  #e9ecef !default;
$dark-gray:   #343a40 !default;

$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

// Default theme color of the site.
$theme-color: $cyan !default;
$theme-bg-color: #ffffff !default;
$primary:       $cyan !default;
$secondary:     $dark-gray !default;

$dark-blue:     shade-color($blue, 20%) !default;
$dark-indigo:   shade-color($indigo, 20%) !default;
$dark-purple:   shade-color($purple, 20%) !default;
$dark-pink:     shade-color($pink, 20%) !default;
$dark-red:      shade-color($red, 20%) !default;
$dark-orange:   shade-color($orange, 20%) !default;
$dark-yellow:   shade-color($yellow, 20%) !default;
$dark-green:    shade-color($green, 20%) !default;
$dark-teal:     shade-color($teal, 20%) !default;
$dark-cyan:     shade-color($cyan, 20%) !default;

$light-blue:    shade-color($blue, 80%) !default;
$light-indigo:  tint-color($indigo, 80%) !default;
$light-purple:  tint-color($purple, 80%) !default;
$light-pink:    tint-color($pink, 80%) !default;
$light-red:     tint-color($red, 80%) !default;
$light-orange:  tint-color($orange, 80%) !default;
$light-yellow:  tint-color($yellow, 80%) !default;
$light-green:   tint-color($green, 80%) !default;
$light-teal:    tint-color($teal, 80%) !default;
$light-cyan:    tint-color($cyan, 80%) !default;

// ============================== End of Color ================================



// Background color of the tags.
// TODO: need to unify for the theme
$tags-background: $theme-bg-color !default;


// =============================== Font =======================================
$font-size-base: 16px !default;
$font-size-12: 0.75rem !default;
$font-size-14: 0.875rem !default;
$font-size-16: 1rem !default;
$font-size-20: 1.25rem !default;
$font-size-24: 1.5rem !default;
$font-size-32: 2rem !default;
$font-size-48: 3rem !default;
$font-size-64: 4rem !default;
$font-size-96: 6rem !default;
$font-size-128: 8rem !default;


$global-font-size: $font-size-16 !default;
$global-font-color: $black !default;

$global-lineheight: $font-size-24 !default;
$global-head-lineheight: $font-size-64 !default;

// Font family of the site.
$global-font-family: Arial !default;

// Serif font family of the site.
$global-serif-font-family: Athelas, STHeiti, Microsoft Yahei, serif !default;

// Font size of the logo.
$logo-font-size: $font-size-64 !default;

// Font family of the logo.
$logo-font-family: 'Chancery', cursive, LiSu, sans-serif !default;
// ===========================End of Font =====================================

// ============================================================================
// =============================== Layout =====================================
// ============================================================================
// Used in layout
$padding-1: 1px !default;
$padding-2: 0.125rem !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-16: 1rem !default;
$padding-24: 1.5rem !default;
$padding-32: 2rem !default;
$padding-48: 3rem !default;
$padding-64: 4rem !default;
$padding-96: 6rem !default;

// Used in layout
$border-radius: $padding-4 !default;

$body-min-width: 20rem !default;
$container-max-width: 80rem !default;

$header-height: 3.5rem !default;
$toc-width: 14rem !default;
$post-width: 68rem !default;

$body-min-width: 20rem !default;
$container-max-width: 82rem !default;


// Margin left of the social link.
$social-link-margin-left: 10px !default;

// Font size of the social icon.
$social-icon-font-size: 30px !default;

// =========================== End of Layout ==================================


// ============================================================================
// Background color of the site.
$global-background: $theme-bg-color !default;

// Headings font size of the site.
$global-headings: (
  h1: $font-size-64,
  h2: $font-size-48,
  h3: $font-size-32,
  h4: $font-size-24,
  h5: $font-size-20,
  h6: $font-size-16
) !default;

// ========== General Terms ========== //
// Font size of the terms title.
$terms-title-size: 18px !default;

// Border bottom of the terms title.
$terms-title-border-bottom: 2px solid $theme-color !default;

// Margin of the terms link.
$terms-link-margin: 5px 10px !default;

// Font size of the terms count
$terms-count-font-size: 12px !default;


// =============================== Header =====================================
$site-header-height: $padding-64 !default;

// =============================== End of Header ==============================

// ============================================================================
// =============================== Pagination =================================
// ============================================================================
// Margin of the pagination.
$pagination-margin: 2em 0 !default;

// Font size of the pagination (Without post, post pagination see line 140).
$pagination-font-size: 20px !default;

// =============================== Footer =====================================
$site-footer-height: $padding-64 !default;

// Margin top of the footer.
$site-footer-margin-top: $padding-32 !default;

// =============================== End of Footer ==============================


// ============================================================================
// =============================== Menu =======================================
// ============================================================================

// Font size of menu item link.
$menu-link-font-size: 25px !default;

// =============================== Post =======================================
// Font family for post.
$post-serif-font-family: $global-serif-font-family !default;

// Border top of the post + post.
$post-border: 1px solid $light-gray !default;

// Font size of post title.
$post-title-font-size: $font-size-64 !default;

// Font weight of post title.
$post-title-font-weight: 600 !default;

// Margin top of the post title.
$post-title-margin-bottom: $padding-32 !default;

// Border bottom of the read more link when hover it.
$post-readMore-border-bottom: 1px solid $theme-color !default;

// Margin top of the post footer.
$post-footer-margin-top: $padding-32 !default;

// Border top of post footer.
$post-footer-border-top: 1px solid $light-gray !default;

// Padding of the post tags.
$post-tags-padding: $padding-16 !default;
$post-tags-margin: $padding-8 !default;
$post-tags-icon-width: $font-size-20 !important;
$post-tags-icon-height: $font-size-20 !important;

// Font size of post pagination.
$post-nav-font-size: $font-size-24 !default;
$post-nav-font-weight: 600 !default;
$post-nav-padding: $padding-8 $padding-32 !default;
$post-nav-line-height: $padding-32 !default;
$post-nav-hover-transform: $padding-8 !default;

// ============================= End of Post ==================================

// ================================== Content =================================
// Headings anchor.
$content-headings-anchor: "" !default;

// Border bottom of the link when hover it.
$content-link-border: 1px solid $theme-color !default;

// Background color of the blockquote.
$content-blockquote-backgroud: rgba($theme-color, 0.1) !default;

// Border left of the blockquote.
$content-blockquote-border-left: 3px solid rgba($theme-color, 0.3) !default;
// ============================= End of Post ==================================

// =============================== Sidebar ====================================
$post-sidebar-nav-margin-top: $padding-16 !default;
$post-sidebar-nav-margin-left: $padding-32 !default;
$post-sidebar-nav-padding-top: $padding-16 !default;
$post-sidebar-nav-padding-left: $padding-16 !default;
$post-sidebar-nav-width: 14rem !default;

// List style of the post toc list.
$post-toc-list-style: square !default;
// ============================= End of Sidebar ===============================


// =============================== ToC ========================================
// Font size of the post toc title.
$post-toc-title-size: 20px !default;

// Font size of the post toc content.
$post-toc-content: 15px !default;

// List style of the post toc list.
$post-toc-list-style: square !default;
// ============================= End of TOC ===================================


$sm-breakpoint: $post-sidebar-nav-width + $body-min-width * 1.2 +  $toc-width !default;


// =============================== Code =======================================
// Color of the code.
$code-color: #c7254e !default;

$code-margin-top: $padding-8 !default;
$code-margin-left: $padding-8 !default;
$code-pre-padding-top: $padding-1 !default;
$code-pre-padding-left: $padding-4 !default;
$code-border-radius: $padding-8 !default;

$code-font-size: $font-size-16 !default;

// Font family of the code.
$code-font-family: Consolas, Monaco, Menlo, "DejaVu Sans Mono",
"Bitstream Vera Sans Mono", "Courier New", monospace !default;

// Color of code highlight, solarized.
$code-highlight-color: (
        comment: #93a1a1,
        keyword: #859900,
        number: #2aa198,
        title: #268bd2,
        attribute: #b58900,
        symbol: #cb4b16,
        built_in: #dc322f,
        formula: #eee8d5
) !default;

// Code type list.
$code-type-list: (
  // Custom code type
  language-bash: "Bash",
  language-c: "C",
  language-cs: "C#",
  language-cpp: "C++",
  language-css: "CSS",
  language-coffeescript: "CoffeeScript",
  language-html: "HTML",
  language-xml: "XML",
  language-http: "HTTP",
  language-json: "JSON",
  language-java: "Java",
  language-js: "JavaScript",
  language-javascript: "JavaScript",
  language-makefile: "Makefile",
  language-markdown: "Markdown",
  language-objectivec: "Objective-C",
  language-php: "PHP",
  language-perl: "Perl",
  language-python: "Python",
  language-ruby: "Ruby",
  language-sql: "SQL",
  language-shell: "Shell",

  language-erlang: "Erlang",
  language-go: "Go",
  language-go-html-template: "Go HTML Template",
  language-groovy: "Groovy",
  language-haskell: "Haskell",
  language-kotlin: "Kotlin",
  language-clojure: "Clojure",
  language-less: "Less",
  language-lisp: "Lisp",
  language-lua: "Lua",
  language-matlab: "Matlab",
  language-rust: "Rust",
  language-scss: "Scss",
  language-scala: "Scala",
  language-swift: "Swift",
  language-typescript: "TypeScript",
  language-yml: "YAML",
  language-yaml: "YAML",
  language-toml: "TOML",
  language-diff: "Diff"
) !default;
// =============================== End of Code ================================

// =============================== Archive ====================================
// Margin of the archive.
$archive-margin: 2em 0px !default;

// Max width of the archive.
$archive-max-width: 550px !default;

// Font size of the archive name.
$archive-name-font-size: 30px !default;

// Font size of the collection title.
$collection-title-font-size: 28px !default;

// Padding of the archive post.
$archive-post-padding: 3px 20px !default;

// Padding of the archive post in mobile.
$archive-post-mobile-padding: 5px 10px !default;

// Font size of the archive post time in mobile.
$archive-post-mobile-time-font-size: 13px !default;

// Border left of the archive post, use $archive-post-hover-border-left when hover it.
$archive-post-border-left: 1px solid $gray !default;
$archive-post-hover-border-left: 3px solid $theme-color !default;

// Transition of the archive post when hover it.
$archive-post-hover-transition: 0.2s ease-out !default;

// Transform of the archive post when hover it.
$archive-post-hover-transform: translateX(4px) !default;
// =============================== End of Archive ==============================

$link-color:                              $theme-color !default;
$link-decoration:                         underline !default;
$link-shade-percentage:                   20% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration:                   null !default;


// =============================== Notice =====================================
$notice-title-text-color:     $white !default;
$notice-content-text-color:   $black !default;
$notice-info-title-bg:        $cyan !default;
$notice-info-content-bg:      $light-cyan !default;
$notice-tip-title-bg:         $teal !default;
$notice-tip-content-bg:       $light-teal !default;
$notice-warning-title-bg:     $yellow !default;
$notice-warning-content-bg:   $light-yellow !default;
$notice-important-title-bg:   $red !default;
$notice-important-content-bg: $light-red !default;

$notice-border-radius: $padding-4 !default;
$notice-margin-top: $padding-24 !default;
$notice-margin-left: $padding-8 !default;
$notice-line-height: $padding-24 !default;
$notice-padding-left: $padding-8 !default;
$notice-padding-top: $padding-8 !default;
$notice-title-padding-top: $padding-4 !default;
$notice-content-padding-top: $padding-8 !default;
$notice-font-weight: 700 !default;
$notice-icon-height: $padding-16 !default;
$notice-icon-width: $padding-16 !default;
$notice-icon-margin-right: $padding-8 !default;
$notice-icon-baseline-top: $padding-2 !default;

// ============================ End of Notice =================================


// =============================== Copyright ==================================
// Background color of the copyright.
$copyright-background: $light-cyan !default;
$copyright-border: $light-cyan !default;
// Margin of the copyright.
$copyright-margin: 10px 0 !default;
// ============================ End of Copyright ==============================


// =============================== Table ======================================
$table-background: $light-teal !default;
// Border color of the table.
$table-border-color: darken($table-background, 3%) !default;
// ============================ End of Table ==================================
