{{ if and .Site.Params.copyright.enable (ne .Params.copyright false) }}
<div class="post-copyright">
    <p class="copyright-item">
        <span class="item-title">{{ i18n "author" }}</span>
        <span class="item-content">
        {{ with .GitInfo }}
            <a href="mailto:{{- .AuthorEmail -}}">{{- .AuthorName -}}</a>
        {{ end }}
        </span>
    </p>
    <p class="copyright-item">
        <span class="item-title">{{ i18n "publishDate" }}</span>
        <span class="item-content">
        {{- .PublishDate.Format (.Site.Params.dateFormat | default "2006-01-02") | safeHTML -}}
        </span>
    </p>
    <p class="copyright-item">
        <span class="item-title">{{ i18n "lastMod" }}</span>
        <span class="item-content">
        {{ .Lastmod.Format (.Site.Params.dateFormat | default "2006-01-02") }}
        {{ if .Site.Params.copyright.gitInfo.showCommitMessage }}
            {{ with .GitInfo }}
                {{ if $.Site.Params.copyright.gitInfo.gitRepo -}}
                    <a href="{{ $.Site.Params.copyright.gitInfo.gitRepo }}/commit/{{ .Hash }}" title="{{ .Subject }}">
                    ({{ .AbbreviatedHash }})
                    </a>
                {{- end }}
            {{ end }}
        {{ end }}
        </span>
    </p>
    <p class="copyright-item">
        <span class="item-title">{{ i18n "license" }}</span>
        <span class="item-content">
            本作品采用 {{ .Site.Params.copyright.content | safeHTML }} 许可协议进行许可，转载时请注明原文链接
        </span>
    </p>
    <p>
        如果你在浏览博客的过程中发现了任何问题，欢迎在对应文章下评论。如果你有其他事情想要咨询，可以通过邮件联系我。
    </p>
</div>
{{- end }}