<div class="post-list">
    {{ range (where site.RegularPages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
    <section>
        <h1 class="post-entry-date-catalog">{{ .Key }}</h1>

        {{ range .Pages }}
        <div class="post-entry">
            <div class="post-entry-date">
                <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "Jan 02"}}</time>
            </div>
            <div class="post-entry-title">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
        </div>
        {{ end }}
    </section>
    {{ end }}

</div>