{{- $pages := .Sections  }}
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- $pages = where $pages "Params.hiddenInHomeList" "!=" "true"  }}
{{- $paginator := .Paginate $pages }}

<div class="post-list">
    {{- range $index, $page := $paginator.Pages }}
    <article class="post-entry">
        {{- $isHidden := (site.Params.cover.hidden | default site.Params.cover.hiddenInList) }}
        {{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}
        <header class="entry-header">
            <h2>
                {{- .Title }}
                {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
            </h2>
        </header>
        {{- if (ne (.Param "hideSummary") true) }}
        <div class="entry-content">
            <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
        </div>
        {{- end }}
        <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
    </article>
    {{- end }}

    <footer class="page-footer">
        {{ partial "pagination.html" . }}
    </footer>
</div>