<nav class="post-nav">
    {{ with .NextInSection -}}
    <a class="prev" href="{{ .RelPermalink }}">
        <!-- TODO: iconfont -->
        <i class="iconfont icon-left"></i>
        <span class="prev-text nav-default">{{ .Title }}</span>
        <span class="prev-text nav-mobile">{{ T "prevPost" }}</span>
    </a>
    {{- end }}
    {{ with .PrevInSection -}}
    <a class="next" href="{{ .RelPermalink }}">
        <span class="next-text nav-default">{{ .Title }}</span>
        <span class="next-text nav-mobile">{{ T "nextPost" }}</span>
        <i class="iconfont icon-right"></i>
    </a>
    {{- end }}
</nav>