{{ if and .Site.Params.reward.enable (ne .Params.reward false) }}

<div class="post-reward">
    <div class="post-reward-qr-container" id="rewardQR">
        {{ range $key, $reward := .Site.Params.reward.items }}
        <div class="post-reward-qr">
            <img src="{{ $reward }}" alt="{{- $key -}}">
            <p>{{- $key -}}</p>
        </div>
        {{ end }}
    </div>
    <button id="rewardButton"
        onclick="
            var qr = document.getElementById('rewardQR');
            if (qr.style.opacity === '0') {
                qr.style.opacity='1';
            } else {
                qr.style.opacity='0'
            }"
        >
        <span>🧧 鼓励作者</span>
    </button>
</div>

{{- end }}