<div class="post-reward">
    <div class="post-reward-qr-container" id="rewardQR">
        <div class="post-reward-qr">
            <img src="{{ .Site.Params.reward.WechatPay }}" alt="wechatPay">
            <p>微信</p>
        </div>
        <div class="post-reward-qr">
            <img src="{{ .Site.Params.reward.AliPay }}" alt="aliPay">
            <p>支付宝</p>
        </div>
    </div>
    <button id="rewardButton"
        onclick="
            var qr = document.getElementById('rewardQR');
            if (qr.style.opacity === '0') {
                qr.style.opacity='1';
            } else {
                qr.style.opacity='0'
            }"
        >
        <span>🧧 鼓励作者</span>
    </button>
</div>