<!DOCTYPE html>
<html lang="{{ site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "head.html" . }}
</head>

<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
">
    <div class="page">
        <input type="checkbox" class="hidden" id="menu-control" />
        <input type="checkbox" class="hidden" id="menu-header-control" />

        {{- partialCached "header.html" . .Page -}}
        <main class="container flex justify-between" id="main">
            {{- block "main" . }}{{ end }}
        </main>
        {{ partialCached "footer.html" . .Layout .Kind -}}
    </div>

</body>

</html>
