{{- define "main" }}

  {{- if and .IsHome site.Params.enableHomeProfile }}
    {{- partial "home.html" -}}
  {{- else if or .IsSection (and .IsHome (not site.Params.enableHomeProfile)) }}
    {{ $isHomeWithoutProfile := (and .IsHome (not site.Params.enableHomeProfile)) }}
    {{ $isMainSection := (and .IsSection (in site.Params.mainSections .Section)) }}
    {{ if or $isHomeWithoutProfile $isMainSection }}
      {{- partial "post/entries.html" . -}}
    {{- end -}}
  {{- end -}}

{{- end }}{{- /* end main */ -}}