{{- define "main" }}

  {{- if eq site.Params.bookSection "*" }}
    {{- partial "sidebar/left.html" . -}}
    {{- partial "post/article.html" . -}}
    {{- partial "sidebar/toc.html" . -}}
  {{- else }}
    {{- if and .IsHome site.Params.enableHomeProfile }}
      {{- partial "home.html" -}}
    {{- else if or .IsSection (and .IsHome (not site.Params.enableHomeProfile)) }}
      {{ $isHomeWithoutProfile := (and .IsHome (not site.Params.enableHomeProfile)) }}
      {{ $isMainSection := (and .IsSection (in site.Params.mainSections .Section)) }}
      {{ if or $isHomeWithoutProfile $isMainSection }}
        {{- partial "post/entries.html" . -}}
      {{ else if eq site.Params.bookSection .Section }}
        {{- partial "sidebar/left.html" . -}}
        {{- partial "post/article.html" . -}}
        {{- partial "sidebar/toc.html" . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

{{- end }}{{- /* end main */ -}}