{{ if .Site.Params.wikilink.enableBacklinks }}
<div class="post-backlink">
    <div class="post-backlink-title">
        <span>{{ i18n "backlinks" }}</span>
    </div>
    <ul class="post-backlink-items">
        {{ $url := urls.Parse .Site.BaseURL }}
        {{ $host := strings.TrimRight "/" $url.Path }}
        {{ $curPage := strings.TrimPrefix $host (strings.TrimRight "/" .Page.RelPermalink)}}
        {{ $linkIndex := getJSON "/data/linkIndex.json"}}
        {{ $inbound := index $linkIndex.index.backlinks $curPage}}
        {{ $contentTable := getJSON "/data/contentIndex.json"}}

        {{ if $inbound }}
            {{ $backlinks := dict "SENTINEL" "SENTINEL"}}
            {{ range $k, $v := $inbound}}
                {{ $source := index $v "source" }}
                {{ with (index $contentTable $source)}}
                <li>
                    <a href="{{$source}}" class="internal-link">{{index (index . "title")}}</a>
                </li>
                {{ end }}
            {{ end }}
        {{ else }}
            <span>
                {{ i18n "no_backlinks" }}
            </span>
        {{- end -}}
    </ul>
</div>
{{ end }}