<script src="https://giscus.app/client.js"
        data-repo="{{ .Site.Params.giscuss.repo }}"
        data-repo-id="{{ .Site.Params.giscuss.repoId }}"
        data-category="{{ .Site.Params.giscuss.category }}"
        data-category-id="{{ .Site.Params.giscuss.categoryId }}"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>