<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ $title := print .Site.Title " | " .Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<title>{{ $title }}</title>

{{- /* Math Support */}}

{{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}

{{- /* Math Support end here */}}

{{- partial "favicon.html" . }}

<!-- styles -->
{{ $style := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
<link href="{{ $style.RelPermalink }}" rel="stylesheet">

<!-- custom css -->
{{ range .Site.Params.customCSS -}}
<link rel="stylesheet" href="{{ "/css/" | relURL }}{{ . }}">
{{ end }}

<!-- custom svg sprites -->
{{ range resources.Match "sprites/*.svg" -}}
{{ printf "/assets/%s" . | os.ReadFile | safeHTML }}
{{ end }}

<!-- external js and css -->
{{ partial "scripts.html" . }}