{{ os.ReadFile "assets/sprites/basic.svg" | safeHTML }}

<header class="header">
    <label for="menu-control" class="sidebar__control" tabindex="0">
        <svg class="icon menu">
            <title>{{ i18n "button_nav_open" }}</title>
            <use href="#menu"></use>
        </svg>
        <svg class="icon arrow-left">
            <title>{{ i18n "button_nav_close" }}</title>
            <use href="#arrow-left"></use>
        </svg>
    </label>
    <div class="header__link">
        <a href="/">
        <span class="flex align-center">
          <span class="brand__title">{{ .Site.Title }}</span>
        </span>
        </a>
    </div>
    <div class="menu-header">
        <span class="menu-header__items">
            <span class="menu-header__home">
              <a href="{{ .Site.BaseURL }}" class="gdoc-header__link">
                <svg class="icon home">
                  <title>{{ i18n "button_homepage" }}</title>
                  <use href="#home"></use>
                </svg>
              </a>
            </span>
            <span class="menu-header__control">
              <label for="menu-header-control">
                <svg class="icon angle-right">
                  <use href="#angle-right"></use>
                  <title>{{ i18n "button_menu_close" }}</title>
                </svg>
              </label>
            </span>
        </span>
        <label for="menu-header-control" class="menu-header__control">
            <svg class="icon angle-left">
                <use href="#angle-left"></use>
                <title>{{ i18n "button_menu_open" }}</title>
            </svg>
        </label>
    </div>
</header>