<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

{{ $title := print .Site.Title " | " .Title }}
{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
<title>{{ $title }}</title>

{{- /* Styles */}}

{{- /* includes */}}
{{- $includes := slice }}
{{- $includes = $includes | append (" " | resources.FromString "assets/css/includes-blank.css")}}
{{- $includes_all := $includes | resources.Concat "assets/css/includes.css" }}

{{- $media := (resources.Get "css/core/zmedia.css") }}
{{- $vars := (resources.Get "css/core/theme-vars.css") }}

{{- $common := (resources.Match "css/common/*.css") | resources.Concat "assets/css/common.css" }}

{{- /* order is important */}}
{{- $core := (slice $common $includes_all $media) | resources.Concat "assets/css/core.css" | resources.Minify }}

{{- /* bundle all required css */}}
{{- $stylesheet := (slice $core $vars) | resources.Concat "assets/css/stylesheet.css"  }}
<link crossorigin="anonymous" href="{{ $stylesheet.RelPermalink }}" rel="preload stylesheet" as="style">

{{- /* Styles end here */}}

{{- /* Math Support */}}

{{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}

{{- /* Math Support end here */}}

{{- partial "favicon.html" . }}

<!-- Styles -->
{{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
<link href="{{ $style.RelPermalink }}" rel="stylesheet">

<!-- custom css -->
{{ range .Site.Params.customCSS -}}
<link rel="stylesheet" href="{{ "/css/" | relURL }}{{ . }}">
{{ end }}