{{ $cosmos := resources.Get "js/cosmos.js" }}
{{ $main := resources.Get "js/main.js" }}
{{ $js := slice $cosmos $main | resources.Concat "js/main.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>

<!-- core -->
{{- if .Site.Params.publicCDN.enable }}
    {{ if .Site.Params.photoSwipe }}
        {{- partial "helper/external" (dict "Context" . "Namespace" "PhotoSwipe") -}}
    {{ end }}

    {{ if .Site.Params.katex }}
        {{- partial "helper/external" (dict "Context" . "Namespace" "KaTeX") -}}
    {{ end }}

    {{ if .Site.Params.meting }}
        {{- partial "helper/external" (dict "Context" . "Namespace" "Meting") -}}
    {{ end }}
{{- end -}}

<!-- custom js -->
{{ range .Site.Params.customJS -}}
<script src="{{ "/js/" | relURL }}{{ . }}"></script>
{{ end }}