{{ $cosmos := resources.Get "js/cosmos.js" }}
{{ $main := resources.Get "js/main.js" }}
{{ $jsDouban := resources.Get "js/douban.js" | resources.ExecuteAsTemplate "js/douban.js" . -}}
{{ $jsMarkmap := resources.Get "js/markmap.js" | resources.ExecuteAsTemplate "js/markmap.js" . -}}
{{ $jsMermaid := resources.Get "js/mermaid.js" | resources.ExecuteAsTemplate "js/mermaid.js" . -}}
{{ $js := slice $cosmos $main $jsMarkmap $jsMermaid $jsDouban| resources.Concat "js/main.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>

<!-- core -->
{{- if .Site.Params.publicCDN.enable }}
    {{ if .Site.Params.photoSwipe }}
        {{- partial "helper/external" (dict "Context" . "Namespace" "PhotoSwipe") -}}
    {{ end }}

    {{ if .Site.Params.katex.enable }}
        {{- partial "helper/external" (dict "Context" . "Namespace" "KaTeX") -}}
    {{ end }}

    {{ if .Site.Params.markmap.enable }}
        {{- partial "helper/external" (dict "Context" . "Namespace" "MarkMap") -}}
    {{ end }}

    {{ if .Site.Params.mermaid.enable }}
        {{- partial "helper/external" (dict "Context" . "Namespace" "Mermaid") -}}
    {{ end }}

    {{ if .Site.Params.echarts.enable }}
        {{- partial "helper/external" (dict "Context" . "Namespace" "ECharts") -}}
    {{ end }}

    {{ if .Site.Params.echarts.map }}
        {{- partial "helper/external" (dict "Context" . "Namespace" "EChartsMap") -}}
    {{ end }}

    {{ if .Site.Params.meting }}
        {{- partial "helper/external" (dict "Context" . "Namespace" "Meting") -}}
    {{ end }}
{{- end -}}

<!-- custom js -->
{{ range .Site.Params.customJS -}}
<script src="{{ "/js/" | relURL }}{{ . }}"></script>
{{ end }}

{{ if .Site.Params.markmap.enable -}}
<style>
    .markmap > svg {
        width: 100%;
        height: 300px;
    }
</style>
{{ end -}}