// ==============================
// Logo
// =============================

.logo {
  float: left;

  font-size: $logo-font-size;
  font-family: $logo-font-family;
}

@include max-screen() {
  .logo {
    display: none;
  }
}
