// ==============================
// Menu
// =============================

.menu-header {
  &__items {
    display: flex;

    > span {
      margin-left: $padding-8;
    }
  }

  &-control,
  &__home {
    display: none;

    svg.icon {
      cursor: pointer;
    }
  }
}