.flex {
  display: flex
}

.flex-auto {
  flex: 1 1 auto
}

.flex-even {
  flex: 1 1
}

.flex-wrap {
  flex-wrap: wrap
}

.flex-grid {
  flex-direction: column;
}

.flex-gap {
  flex-wrap: wrap;
  gap: $padding-16;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.hidden {
  display: none !important;
}


@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin min-screen($min-width: $global-body-width) {
   @media screen and (min-width: $min-width) {
     @content;
   }
}

@mixin max-screen($max-width: $global-body-width) {
   @media screen and (max-width: $max-width) {
     @content;
   }
}

@mixin fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@mixin outline {
  outline-style: auto;
  outline-color: currentColor;
  outline-color: -webkit-focus-ring-color;
}