{{/* Available notice types: warning, info, important, tip */}}
{{- $noticeType := .Get 0 | default "info" -}}
{{/* Workaround markdownify inconsistency for single/multiple paragraphs */}}
{{- $raw := (markdownify .Inner | chomp) -}}
{{- $block := findRE "(?is)^<(?:address|article|aside|blockquote|canvas|dd|div|dl|dt|fieldset|figcaption|figure|footer|form|h(?:1|2|3|4|5|6)|header|hgroup|hr|li|main|nav|noscript|ol|output|p|pre|section|table|tfoot|ul|video)\\b" $raw 1 -}}
{{/* Count how many times we've called this shortcode and load the css if it's the first time */}}
{{- if not ($.Page.Scratch.Get "noticecount") -}}

<div>
    {{ os.ReadFile "src/icons/notice_tip.svg" | safeHTML }}
    {{ os.ReadFile "src/icons/notice_info.svg" | safeHTML }}
    {{ os.ReadFile "src/icons/notice_warning.svg" | safeHTML }}
    {{ os.ReadFile "src/icons/notice_important.svg" | safeHTML }}
</div>
{{- end -}}

{{- $.Page.Scratch.Add "noticecount" 1 -}}
<div class="notice {{ $noticeType }}" {{ if len .Params | eq 2 }} id="{{ .Get 1 }}" {{ end }}>
    <p class="first notice-title">
        <span class="icon-notice baseline">
            <svg>
                <use href="#{{- $noticeType -}}-notice"></use>
            </svg>
        </span>
        {{- i18n $noticeType -}}
    </p>
{{- if or $block (not $raw) }}{{ $raw }}{{ else }}<p>{{ $raw }}</p>{{ end -}}
</div>


