<!-- borrowed from https://stackoverflow.com/questions/25491465/bootstrap-tab-without-jquery -->
<nav>
	<div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">

		{{ $tabTotal := .Get "tabTotal" }}
		{{ $tabName := .Scratch.Get "tabName" }}
		{{ $tabID := .Scratch.Get "tabID" }}

		{{ range $i, $sequence := (seq $tabTotal) }}
		<li>
			<a class="nav-item {{ if eq $i 0 }} active {{ end }}" id="{{ (index $tabID $i) }}" href="javascript:void(0);">
				{{ (replaceRE "(\\s)" "" (index $tabName $i)) }}
			</a>
		</li>
		{{ end }}

	</div>
</nav>

<div class="tab-content" id="nav-tab-content">

	{{ .Inner }}

</div>
