div.highlight, pre {
    font-size: larger;
    overflow: auto;
    background-color: var(--code-bg);
    border-radius: var(--radius);
    display: block;
    position: relative;
}

table th {
    text-align: start;
}